.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  color: #363636;
  background-color: #fcfcfc;
}
ul {
  margin: 0;
}
.nav-items {
  display: flex;
}
ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  list-style: none;
  margin-right: 25px;
}
ul li .img {
  width: 25px;
  height: 25px;
}
a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #363636;
  padding: 0 5px;
}
.barber-shop {
  border: 1px solid #00382e;
  border-radius: 50%;
  background-color: #00382e;
}
a:hover {
  color: #f94147;
}
.left {
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 25px;
  background-image: url("../../../../assets//img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.right a {
  color: #f94147;
  font-size: 18px;
  border-right: 1px solid #c6c6c6;
  padding: 0 10px;
}
.right span {
  color: #363636;
  font-weight: 600;
  padding: 0 10px;
}
