<div class="container">
  <div class="left">
    <div class="logo"></div>
    <ul class="nav-items">
      <li><a [routerLink]="['home']">Home</a></li>
      <li>
        <img src="assets/img/logo-coffee-shop.png" class="img" /><a
          [routerLink]="['portfolio/coffee-shop']"
          >Coffee Shop</a
        >
      </li>
      <li>
        <img class="img" src="assets/img/logo-barber.png" /><a
          [routerLink]="['portfolio/barber-shop']"
          >Barber Shop</a
        >
      </li>
    </ul>
  </div>
  <div class="right">
    <a [routerLink]="['contact']">Contact me </a><span>+40 784 789 728</span>
  </div>
</div>
