<div class="container">
  <div class="left">
    <div class="logo"></div>
    <ul class="nav-items">
      <li><a [routerLink]="['home']">Home</a></li>
      <li>
        <img
          src="../../../././../assets/img/logo-coffee-shop.png"
          width="30px"
          height="30px"
        /><a [routerLink]="['portfolio/coffee-shop']">Coffee Shop</a>
      </li>
      <li>
        <img
          class="barber-shop"
          src="../../../././../assets/img/logo-barber-shop.png"
          width="20px"
          height="20px"
        /><a [routerLink]="['portfolio/barber-shop']">Barber Shop</a>
      </li>
    </ul>
  </div>
  <div class="right"><a>Contact me </a><span>+40 784 789 728</span></div>
</div>
