<div class="container">
  <app-coffee-shop
    *ngIf="activedRoute === 'coffee-shop'"
    [img]="'../../../../assets/img/coffee-shop-img.png'"
    [title]="'Coffe Shop Website'"
    [description]="
      'It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'
    "
    [link]="'Visit Template'"
  ></app-coffee-shop>
  <app-coffee-shop
    *ngIf="activedRoute === 'barber-shop'"
    [img]="'../../../../assets/img/barber-shop-img.png'"
    [title]="'Barber Shop Website'"
    [description]="
      'It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'
    "
    [link]="'Visit Template'"
  ></app-coffee-shop>
</div>
